.card {
  min-height: 72px;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: 1px solid #EAEAEA;
}

.card__item {
  align-self: center;
}

