.devices {
    min-height: 160px;
    min-width: 240px;
    background-color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
}

  .swiper-slide.devices {
    padding: 16px;
  }
  
  .devices__item {
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 500;
    align-self: flex-start;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }
  
  .devices__item.go-btn {
     align-self: flex-end;
     cursor: pointer;
  }  
  
  .swiper-devices .swiper-pagination {
      bottom: 20px;
    }